<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <span class="title">Task</span>
      <label *ngIf="data.assigneeId" class="badge badge-primary mx-2">{{
        assigneeName
      }}</label>
      <span *ngIf="data.completed" class="badge badge-success float-right"
        >Completed</span
      >
      <p class="description">
        {{ data.description }}
      </p>
    </div>
    <div class="px-4 form-group">
      <a routerLink="/">
        <button class="btn btn-sm btn-primary d-inline mb-3">Go to List</button>
      </a>
    </div>
  </div>
</div>
