<div class="container-fluid py-4">
  <div class="form-group">
    <label for="assignee">Assignee</label>
    <select class="form-control" [(ngModel)]="data.assigneeId">
      <option value="null">--- Select assignee ---</option>
      <option *ngFor="let item of users" [value]="item.id">
        {{ item.name }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      [(ngModel)]="data.description"
      rows="5"
    ></textarea>
  </div>
  <div>
    <button class="btn btn-primary float-right mb-3" (click)="save()">
      Save
    </button>
    <button
      class="btn btn-outline-danger mx-2 float-right mb-3"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </div>
</div>
